{% extends 'base.html.twig' %}
{% block title %}Dodawanie urządzenia{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('stylesheet/onlyform.css') }}" />
	<link rel="stylesheet" href="{{ asset('stylesheet/validfieldlabel.css') }}" />
{% endblock %}
{% block javascripts %}     
	<script type="text/javascript" src="{{ asset('scripts/adddevice.js') }}"></script>    
{% endblock %}
{% block header %}Dodawanie urządzenia{% endblock %}
{% block pagecontent %}
{% endblock %}
{% block content %}
	<div id='add' class='col-12'>
    	{{ form_start(addform) }}
    	{{ form_row(addform.type) }}
    	<div id='div_model'></div>
    	{{ form_row(addform.sn) }}
    	{{ form_row(addform.sn2) }}
    	{{ form_row(addform.state) }}
    	{{ form_row(addform.invoicing) }}
    	{{ form_row(addform.desc) }}
    	{{ form_row(addform.submit) }}
    	{{ form_end(addform) }}
	</div>
{% endblock %}