{% extends 'base.html.twig' %}
{% block title %}Fakturowanie{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel='stylesheet' href="{{ asset('stylesheet/formbuttonmargin.css') }}"/>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('scripts/selectall.js') }}"></script>
{% endblock %}
{% block header %}Fakturowanie{% endblock %}
{% block form_start %}
	{{ form_start(invoicing_form) }}
{% endblock %}
{% block form_buttons %}
	{{ form_row(invoicing_form.type) }}
	{{ form_row(invoicing_form.submit_invoice) }}
{% endblock %}
{% block content %}	
	{% if invoicing_form.devices is defined %}
		<table class='col-12'><tr class='tr-back'><td><input type='checkbox' class='select_all'></td><td>Model</td><td>Stan</td><td>Numer seryjny</td><td>Numer seryjny 2</td><td>Lokalizacja</td><td>Skrót lokalizacji</td><td>Opis</td><td>Czas</td></tr>
			{% for dev in invoicing_form.devices %}
				{% if loop.index0 % 2 == 0 %}
					<tr class='tr-back'>
				{% else %}
					<tr>
				{% endif %}
				<td>{{ form_widget(dev) }}</td>
				{{ form_label(dev) }}
				</tr>
			{% endfor %}
		</table>		
	{% endif %}
{% endblock %}
{% block form_end %}
	{{ form_end(invoicing_form) }}	
{% endblock %}