<ul class='col-12'>
	<li><a href="{{ path('homepage') }}">Strona główna</a></li>
	<li><a href="{{ path('adddevice') }}">Dodaj urządzenie</a></li>
	<li><a href="{{ path('model') }}">Modele</a></li>
	<li><a href="{{ path('location') }}">Lokalizacje</a></li>
	<li><a href="{{ path('type') }}">Typy urządzeń</a></li>
	<li><a href="{{ path('protocollist') }}">Lista protokołów</a></li>
	<li><a href="{{ path('addprotocol') }}">Dodaj protokół przekazania</a></li>
	<li><a href="{{ path('gen_prot_ret') }}">Dodaj protokół zdania</a></li>
	<li><a href="{{ path('invoicing') }}">Fakturowanie</a></li>
	<li><a href="{{ path('onservice') }}">W serwisie</a></li>
	<li><a href="{{ path('finddevice') }}">Wyszukaj urządzenie</a></li>
	<li><a href="{{ path('devicehistory') }}">Historia urządzenia</a></li>
	<li><a href="{{ path('historybydate') }}">Historia urządzeń wg daty</a></li>
	<li><a href="{{ path('changesn') }}">Zmiana numeru seryjnego</a></li>
	<li><a href="{{ path('addperson') }}">Dodaj osobę</a></li>
	<li><a href="{{ path('personhistory') }}">Historia osoby</a></li>
</ul>