{% extends 'base.html.twig' %}
{% block title %}Typy urządzeń{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('stylesheet/inlinetopform.css') }}" />
{% endblock %}
{% block header %}
	Typy
{% endblock %}
{% block form_start %}
	{{ form_start(type_form) }}
{% endblock %}
	{% block form_buttons %}		
		{{ form_widget(type_form) }}	
	{% endblock %}
	{% block content %}
		<table class='col-12'><tr class='tr-back'><td>Nazwa typu</td></tr>
			{% for type in type_list %}
				{% if loop.index0 % 2 == 0 %}
					<tr class='tr-back'>
				{% else %}
					<tr>
				{% endif %}
				<td>{{ type.name }}</td></tr>
			{% endfor %}
		</table>	
	{% endblock %}
{% block form_end %}
	{{ form_end(type_form) }}
{% endblock %}